html {
  --container: 343px;
  --padding-container: 16px;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.logo_text {
  font-weight: bold;
  font-size: 48px;
  color: #29374E;
}

.logo_text > span {
  color: #0962E8;
  background-color: #FFFFFF;
  border-radius: 14px;
  padding: 2px 11px 0px 10px;
  margin-left: 3px;
}

section {
  margin-top: 20px;
}

.header__lang_button {
  width: 62px;
  height: 24px;
  font-size: 14px;
  display: flex;
  align-items: normal;
  justify-content: space-around;
}

.btn-lang{
  display: flex;
  justify-content: end;
}

.header__lang_button > button {
  border-radius: 10px;
  width: 26px;
  height: 24px;
  border-radius: 12px;
  background-color: inherit;
}

.header__lang_button > button:active, .header__lang_button > button:hover {
  background-color: #ffffff;
}

#logo {
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  margin: 0;
  line-height: 130%;
}
